{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/app.css"/>

  <script>
    video = {{ video_data|safe }};
    imageList = {{image_list|safe}};
    mturk = {{ mturk_data.assignment_id|yesno:'true,false,false' }};
    hitId = '{{ mturk_data.hit_id }}';
    workerId = '{{ mturk_data.worker_id }}';
    assignmentId = '{{ mturk_data.assignment_id }}';
    helpEmbedded = {{ help_embed|yesno:'true,false,false' }};
  </script>
  <script src="/static/vendor/raphael/raphael.min.js"></script>
  <script src="/static/vendor/imgplay/jquery.imgplay.min.js"></script>
  <script type="text/javascript" src="/static/views/framePlayers.js"></script>
  <script type="text/javascript" src="/static/app_videoAnnotations.js"></script>
  <script type="text/javascript" src="/static/bounds.js"></script>
  <script type="text/javascript" src="/static/datasources.js"></script>
  <script type="text/javascript" src="/static/misc.js"></script>
  <script type="text/javascript" src="/static/player_videoAnnotations.js"></script>
  <script type="text/javascript" src="/static/annotation.js"></script>
  <script type="text/javascript" src="/static/views/keyframebar.js"></script>
  <script type="text/javascript" src="/static/views/player.js"></script>
  <script type="text/javascript" src="/static/views/rect.js"></script>

{% endblock %}

{% block body %}
<div class=" {{ iframe_mode|yesno:'empty, panel panel-default panel-space'}} player-container" id="playerVideoAnnotations">

<div class="panel-body">
 	<h2>{{title}}</h2>

  <div class="player-screen">
    {% if image_list %}
      <div class="player-video">
        {% for image in image_list %}
          {% if forloop.counter0 < 25 %}
            <img src="{{image_list_path}}/{{image}}" />
          {% else %}
            <img data-src="{{image_list_path}}/{{image}}" />
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="player-video-container">
        <video class="player-video"></video>
      </div>
    {% endif %}
    <div class="player-paper"></div>
    <div class="player-loader">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div class="panel panel-primary bottom-controls">
    <div class="panel-heading">
      <input class="player-control-scrubber" type="range" min="0" max="10000" value="0" step="1"/>
      <div class="panel panel-success">
        <!-- <div class="panel-heading style="background-color: #3A7734"> -->
          <div class="player-keyframebar"></div>
        <!-- </div> -->
      </div>

      <span class="noselect">
        <div class="glyphicon glyphicon-fast-backward player-control-goto-start" title="Go to start"></div>
        <div class="glyphicon glyphicon-step-backward player-control-step-backward" title="One Frame Backward (shortcut - 'a')"></div>
        <div class="glyphicon glyphicon-play player-control-play-pause" title="Play / Pause (shortcut - 'space'')"></div>
        <div class="glyphicon glyphicon-step-forward player-control-step-forward" title="One Frame Forward (shortcut - 's')"></div>
        <div class="glyphicon glyphicon-fast-forward player-control-goto-end"></div>
        <div class="glyphicon glyphicon-trash player-control-delete-keyframe" title="Delete selected frame (shortcut - 'delete', 'd')"></div>
      </span>
      <input class="form-control player-control-time" id="frame-number" placeholder="0">
      <div class="pull-right">
        <input id="scale-checkbox" type="checkbox" checked/>
        <label for="scale-checkbox">Scale to fit</label>
      </div>
    </div>
  </div>

  <div class="right-controls">
  	<div id="createNewAnnotation">
  		<button type="button" id="addNewAnnotationButton">New annotation</button>
  	</div>
  	<div id="userAnnotations">
  		<p>Annotations created by user {{user}}:</p>
  		<nav>
            <ul>
            	{% for videoAnnotation in videoAnnotations_data_currentUser %}
            	<li><a href="{% url 'video' videoAnnotation.videoId videoAnnotation.id %}">{{videoAnnotation.id}}</a></li>
            	{% endfor %}
            </ul>
        </nav>
  	</div>
  	<div id="otherAnnotations">
  		<p>Annotations created by other users:</p>
  		<nav>
            <ul>
                {% for videoAnnotation in videoAnnotations_data_otherUsers %}
            	<li><a href="{% url 'video' videoAnnotation.videoId videoAnnotation.id %}">{{videoAnnotation.id}}</a></li>
            	{% endfor %}
            </ul>
        </nav>
  	</div>
  </div>

</div>

{% include "modals/generic_modal.html" %}
{% include "modals/instructions.html" %}

{% if mturk_data.authenticated == False %}

  {% include "modals/accept_reject_form.html" %}
  {% include "modals/email_form.html" %}

{% endif %}

</div>
{% endblock %}
