{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/app.css"/>

{% endblock %}

{% block body %}

<div class="video-list">
  <h1>{{title}}</h1>
  <h3>{{videos|length}} videos</h3>
  <table class="table table-hover" style="width:100%; margin: 0 auto;">
    <thead>
      <tr>
        <th>Id</th>
        <th>File</th>
        <th>Number of Annotations</th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
      <tr>
        <td>{{ video.id }}</td>
        <td><a href="{% url 'videoAnnotations' video.id %}">{{ video.filename }}</td>
        <td>
          {% if video.number_of_annotations == 0 %}
            No annotations
          {% else %}
            {{video.number_of_annotations}}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
