{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/app.css"/>
{% endblock %}

{% block body %}

<div class="video-list">
  <h1>{{title}}</h1>
  <h3>{{videos|length}} videos</h3>
  <table class="table table-hover" style="width:100%; margin: 0 auto;">
    <thead>
      <tr>
        <th>Id</th>
        <th>File</th>
        <th>Annotation_0</th>
        <th>Annotation_1</th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
      <tr>
        <td>{{ video.id }}</td>
        <td>{{ video.filename }}</td>
        <td><a href="{% url "video" video.id 0 %}">{{ video.annotation_0|yesno }}</a></td>
        <td><a href="{% url "video" video.id 1 %}">{{ video.annotation_1|yesno }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
